body {
  background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2.0,f_auto,g_center,h_1080,q_100,w_1080/v1/gcs/platform-data-splunk/event_banners/event-thumbnail_BHWlEIL.png);
  color: white;
}

.tabs {
  font-family: arial;

  width: 70%;
  text-align: left;
  margin-top: 0vh;
}

img {
  width: 300px;
}

.tab-buttons {
  margin-bottom: 50px;
}

h1,
h2 {
  margin-right: 15px;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  transition: all ease-in-out 0.2s;
  border-bottom: 2px solid transparent;
}

p,
li,
img {
  margin-right: 15px;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  transition: all ease-in-out 0.2s;
  border-bottom: 2px solid transparent;
}

button {
  margin-right: 15px;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  transition: all ease-in-out 0.2s;
  border-bottom: 2px solid transparent;
}
.active {
  border-bottom: 2px solid orange;

  color: orange;
}

.link {
  color: orange;
} /* CSS link color (red) */
.link:hover {
  color: #42b3f4;
} /* CSS link hover (green) */

.img {
  width: 100%;
  height: auto;
}


.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f6f8fa;
  padding: 3px;
  font-size: 105%;
  margin: 2px;
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
}